@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: hotpink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typescale for mobile */


h1 {
    font-size: 1.125rem;
}

h2 {
    font-size: 1.266rem;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.602rem;
}

h5 {
    font-size: 1.802rem;
}

p {
    font-size: 1rem;
}

.social-media-item {font-size: 1rem;}

a {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
    color: black;
}

/* holding page comming soon */

.holding-page-container-warp {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: blue;
}

.holding-page-copyright {
    display: flex;
    justify-content: center;
    background: orange;
}

/* holding page */

    .header {
        background: yellowgreen;
        min-height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 1rem;
    }

    .navblack {
        height: 0.1rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: sticky;
        top: 1rem;
        border: 0rem;
        display: block;
        background: #000;
    }

    .main {
        background: lightblue;
        flex: 1;
        width: 100%;
    }

    .footer {
        background: salmon;
        min-height: 10vh;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 5rem;
        background: red;
    }

    .navigation-menu {
        background: skyblue;
        display: flex;
        flex-direction: row;
        width: 10rem;
        justify-content: space-between;
    }

    .work-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-gap: 1rem;
    }


    .grid-item {
        width: 100%;
        background: yellowgreen;
        min-height: 450px;

    }

    /*about page*/

    .navblack {
        height: 0.1rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: sticky;
        top: 1rem;
        border: 0;
        display: block;
        background: #000;
    }

    .about-container {
        background: lightblue;
        display: grid;
        grid-template-columns: 1fr;
    }

    .bio {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .experience {
        margin-bottom: 1rem;
    }

    .education {
        margin-bottom: 1rem;
    }

    .awards-or-recognition {
        margin-bottom: 1rem;
    }

    .contact {
        margin-bottom: 2rem;
    }

    .social-media-item {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    .main-heading-experience {
        margin-bottom: 1rem;
    }

    .main-heading-education {
        margin-bottom: 1rem;
    }

    .main-heading-awards-or-recognition {
        margin-bottom: 1rem;
    }

    .business-name {
        margin-bottom: 1rem;
    }

    .awards-or-regconition-date {
        margin-bottom: 1rem;
    }
    

/* Adjustments for desktop start here */


@media only screen and (min-width: 992px) {


}