@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #222;
    --accent-color: #044c4a;
    --hyperlink-color: rgb(155, 23, 232);
    --hover-color: #bb1919;
    --body-typeface: "Inter", sans-serif;
    --heading-typeface: 'Eczar', serif;
    --project-title-typeface: 'Eczar', serif;
    --background-color: #ffffff;
    --text-selection-background-color: #555;
}





body {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 1rem 1rem 1rem;
    font-family: 'Manrope', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    /* Removes bottom gap on images */
}

/* Typescale for mobile */


h1 {
    font-size: 1rem;
    font-weight: 600;
}

h2 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1.266rem;
}

h4 {
    font-size: 1.424rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.602rem;
}

p {
    font-size: 0.889rem;
}

.social-media-item {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--hyperlink-color);
}

a:visited {
    color: var(--hyperlink-color);
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
    color: black;
}

a:focus {
    outline: 1px solid blue;
}

a:active {
    color: var(--hyperlink-color);
    text-decoration: underline;
    color: black;
}


/* holding page comming soon */

.holding-page-container-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.holding-page-title {
    font-size: 2rem;
    text-transform: uppercase;
}

.holding-page-subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.holding-page-copyright {
    display: flex;
    justify-content: center;

}

/* holding page */

.header {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.875);
}

.main {

    flex: 1;
    width: 100%;
}

.footer {

    min-height: 10vh;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
}

.logo-wrapper {
    width: 5rem;
}

.holding-logo-wrapper {
    width: 5rem;
    margin-bottom: 1rem;
}

.logo-white {
    fill: #ffffff;
}

.logo-accent {
    fill: var(--accent-color);
}

.navigation-menu {

    display: flex;
    flex-direction: row;
    width: 8rem;
    justify-content: space-between;
}

.work-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6,
.grid-item-7,
.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-11,
.grid-item-12 {
    width: 100%;
    min-height: 450px;
}

/* about page */

.about-page {
    background: var(--accent-color);
}

.about-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.about-bio-contact-container,
.about-experience-education-awards-recognition-container {
    width: 100%;
}

.about-section {
    margin-bottom: 2rem;
}

.social-media-item {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}












.about-heading {
    margin-bottom: 1rem;
}

.about-item-wrapper {
    margin-bottom: 1rem;
}

.about-item {
    margin-bottom: 0.25rem;
}





/* Adjustments for desktop start here */


@media only screen and (min-width: 992px) {

    .navblack {
        height: 0.1rem;
        margin-left: 0rem;
        margin-right: 0rem;
        position: sticky;
        top: 10vh;
        border: 0rem;
        background: #000;
    }

    .about-wrapper {
        flex-direction: row;
    }

    .bio-photo-area {}

    .about-bio-contact-container,
    .about-experience-education-awards-recognition-container {}

    .about-bio-contact-container {
        width: 70%;
        padding: 1rem;
    }

    .about-experience-education-awards-recognition-container {
        width: 30%;
        padding: 1rem;
    }

    

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .work-grid {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }




}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .work-grid {
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    }


}